@import "../../GlobalStyles.scss";

button {
    outline: none;
    border: none;
    border-radius: 5px;
}

.conformShop {
    background-image: linear-gradient(19deg, $primaryColor5, $primaryColor5, $secondaryColor1);
    color: $superLightColor;
    transition: all 0.5s;
    padding: 10px;
    width: 100%;
    opacity: 0.9;
    font-family: 'iran';

    &:hover {
        opacity: 1;
    }
}

.goToCart {
    transition: all 0.5s;
    padding: 5px;
    font-family: 'iran';
    margin: auto;
    margin-left: 0;
    align-items: center;
    display: flex;
    width: fit-content;

    h1,
    .i {
        color: $primaryColor1;
        font-size: 12px;
    }

    &:hover {

        h1,
        .i {
            color: $primaryColor5;
        }
    }
}

.cartDropdown {
    margin: 0;
    position: relative;

    &:hover {
        cursor: auto;
    }

    .cartContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 350px;
        overflow-y: scroll;

        ::-webkit-scrollbar {
            width: 15px;
        }

        span {
            display: flex;
            flex-direction: row-reverse;
            background-color: $superLightColor;
            width: 100%;
            margin: 5px auto;
            justify-content: space-around;
            align-items: center;

            &:hover {
                cursor: auto;
            }

            aside {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h1 {
                    font-size: 15px;
                    width: 150px;
                }

                .productName {
                    color: $primaryColor1;
                }

                .productPrice {
                    color: $footerBackColor;
                    font-family: 'vazir';
                    direction: rtl;
                }

                .changeCartContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .add {
                        display: flex;
                        background-color: transparent;

                        .fillAdd {
                            color: lighten($primaryColor1, 20%);
                            display: none;
                            margin: auto;
                        }

                        .outlineAdd {
                            color: gray;
                            margin: auto;
                        }

                        &:hover {
                            cursor: pointer;

                            .fillAdd {
                                display: initial;
                            }

                            .outlineAdd {
                                display: none;
                            }
                        }
                    }

                    .productCount {
                        color: gray;
                        width: fit-content;
                        margin: auto 5px;
                    }

                    .minus {
                        display: flex;
                        background-color: transparent;

                        .fillMinus {
                            color: lighten($hoverColor, 20%);
                            display: none;
                            margin: auto;
                        }

                        .outlineMinus {
                            color: gray;
                            margin: auto;
                        }

                        &:hover {
                            cursor: pointer;

                            .fillMinus {
                                display: initial;
                            }

                            .outlineMinus {
                                display: none;
                            }
                        }
                    }

                    .delete {
                        display: flex;
                        background-color: transparent;

                        .fillDelete {
                            color: lighten($hoverColor, 20%);
                            display: none;
                            margin: auto;
                        }

                        .outlineDelete {
                            color: gray;
                            margin: auto;
                        }

                        &:hover {
                            cursor: pointer;

                            .fillDelete {
                                display: initial;
                            }

                            .outlineDelete {
                                display: none;
                            }
                        }
                    }
                }
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                padding: 10px;
                border-left: 1px solid whitesmoke;
            }
        }
    }

    .noScrollbar {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

main.dropdownContainer {
    justify-content: center;
    background-color: darken($superLightColor, 10%);
    width: 100%;
    z-index: 100;
    animation: shacking 0.5s forwards;
    transform-origin: top;
    @include shadow();

    @keyframes shacking {
        0% {
            transform: scaleY(0);
        }

        80% {
            transform: scaleY(1);
        }
    }

    span.dropdown {
        border-radius: 5px;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        margin: 5px auto;
        padding: 10px;
        color: $linkColor;
        width: 70%;

        &:hover {
            cursor: pointer;
            background-color: $superLightColor;
            color: lighten($hoverColor, 20%);
        }
    }
}