@import '../../index.module.scss';

.pagination {
    margin: auto;
    margin-bottom: 0;
    width: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $tableHeaderBack;

    .list {
        display: flex;

        span {
            width: 100%;
            background-color: $inputBrightBack;
            padding: 5px 10px;
            margin: auto 5px;
            display: flex;
            z-index: 5;
            font-size: $fontSize2;
            justify-content: center;
            user-select: none;
            font-weight: bold;
            color: $mainBrightText;
            border: 1px solid lightgray;
            transition: all 0.2s;

            i {
                font-size: $fontSize4;
            }

            &:hover {
                cursor: pointer;
                background-color: darken($inputBrightBack, 5%);
            }
        }

        .threeDots {
            font-size: $fontSize3;
            font-weight: bold;
            margin: auto 5px;
            color: $inputBrightBack;
        }

        .activePage {
            color: $mainBrightRed;
            background-color: $mainBrightBox;
        }
    }
}

.pagination_dark {
    background-color: $tableDarkHeaderBack;

    .list {
        span {
            background-color: $mainDarkBox;
            color: $mainDarkText;
            border: 1px solid lighten($inputDarkBack, 10%);

            &:hover {
                background-color: darken($inputDarkBack, 5%);
            }
        }

        .threeDots {
            color: $inputDarkBack;
        }

        .activePage {
            color: $mainDarkRed;
            background-color: $inputDarkBack;
        }
    }
}

@media only screen and (max-width: $medium_large) {
    .pagination {
        width: 70%;
    }
}

@media only screen and (max-width: $small) {
    .pagination {
        width: 100%;
    }
}