@import "../../GlobalStyles.scss";

.header {
  width: 90%;
  margin: auto;
  z-index: 3;

  nav {
    width: 100%;
    display: flex;

    ul {
      li {
        &:hover {
          cursor: pointer;

          a {
            color: $hoverColor;
          }
        }

        a {
          color: $linkColor;
        }
      }
    }
  }

  .topHeader {
    display: flex;
    z-index: 1;
    padding: 20px 0;

    .dropdown {
      display: none;

      &:hover {
        cursor: pointer;
      }
    }

    .miniLogo {
      display: none;

      .mainLogo {
        margin-top: 5px;

        a {
          display: flex;

          img {
            width: 60px;
            object-fit: cover;
            margin: auto;
          }
        }
      }
    }

    .rightSide {
      font-family: $font;
      z-index: 1;
      margin: auto;
      padding: 0;
      margin-right: 0;

      .mainLogo {
        margin-top: 5px;

        a {
          display: flex;

          img {
            width: 210px;
            object-fit: cover;
            margin: auto;
          }
        }
      }
    }

    .middleSide {
      width: 300px;
      display: flex;
      margin: auto;
      padding: 0;

      input {
        @include inp;
      }

      button {
        @include btn(transparent,
          $superDarkColor,
          darken($pageBackColor, 5%),
          $superDarkColor);
        width: 40px;
        border: none;
        margin: auto;
        padding: 8px;
        display: flex;
        border-radius: 100%;
      }
    }

    .leftSide {
      display: flex;
      margin: auto;
      padding: 0;
      margin-left: 0;

      li {
        font-size: 18px;
        display: flex;
        padding: 10px 20px;
        position: relative;
        margin: auto;

        label {
          font-family: $font;
          color: $superDarkColor;
        }

        .i {
          font-size: 40px;
          margin-left: 10px;
        }

        div:not(.carts) {
          display: none;
        }

        &:hover {
          background-color: darken($superLightColor, 5%);

          .i {
            cursor: pointer;
            transition: all 0.3s;
          }

          label {
            cursor: pointer;
          }
        }

        &:not(:hover) {
          i {
            color: $superDarkColor;
            transition: all 1s;
          }
        }
      }

      li.account {
        display: flex;
        flex-direction: column;

        label,
        .i {
          margin: 0 auto;
          color: $footerBackColor;
        }

        &:hover {
          div.account {
            @include dropdownDiv(300px, 100px, 0px);

            button {
              width: 100%;
              height: 50px;
              font-family: $font;
              font-size: 18px;
              margin: 5px auto;
              border-radius: 2px;
            }
          }
        }
      }

      li.basket {
        display: flex;
        flex-direction: column;

        .carts {
          width: auto;
          padding: 0px 10px;
          border-radius: 50px;
          z-index: 3;
          position: absolute;
          text-align: center;
          color: $superLightColor;
          margin-top: -15px;
          margin-left: 30px;
          font-family: 'vazir';
        }

        label,
        .i {
          margin: 0 auto;
          color: $footerBackColor;
        }

        &:hover {
          div.basket {
            @include dropdownDiv(300px, 110px, 0px);
          }
        }
      }
    }
  }

  .bottomHeader {
    font-family: $font;
    margin: auto;
    z-index: 99;
    width: 100%;
    display: flex;
    border-bottom: 1px lightgray solid;

    li {
      margin: auto;
      font-size: 14px;
      display: inline-block;
      padding: 0px 10px;
      font-weight: 500;

      .link {
        span {
          font-size: 14px;
          display: inline-block;
          padding: 0px 8px;
          font-weight: 500;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: $linkColor;
          border-bottom: 3px solid transparent;

          div {
            display: none;
          }

          &:hover {
            background-color: darken($pageBackColor, 0%);
            color: $footerBackColor;
            transition: all 0.5s;
          }

          &:not(:hover) {
            background-color: transparent;
            transition: all 1s;
          }
        }

        span.activeNav {
          border-bottom: 4px solid $secondaryColor1;
          color: $footerBackColor;
        }

        span.sports,
        span.brands,
        span.productType {
          display: flex;
          position: relative;
          justify-content: center;
        }

        &:hover {

          span.sports,
          span.brands,
          span.productType {

            div.sports,
            div.brands,
            div.productType {
              display: initial !important;
              position: absolute;
              margin: auto;
              width: 200px;
              top: 45px;
              z-index: 100;
              text-align: center;
              transition: all 0.5s ease-in-out;
              @include shadow();
            }
          }
        }
      }
    }

    .mainLogo {
      width: auto;
      float: right;
      padding-left: 30px;
      margin: 0px 0 0 20px;

      a {
        display: flex;

        img {
          margin: 0px 0 0 -50px;
          width: 110px;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .header {

    .topHeader {
      .rightSide {
        li.dropdown {
          display: initial !important;

          &:hover {
            cursor: pointer;
          }

          .i {
            @include dropdown;
            margin-top: 30px;
            margin-left: -30px;
          }
        }
      }

      .dropdown {
        display: flex;
        margin: auto;
        margin-right: 10px;

        .i {
          color: $primaryColor1;
          font-size: 60px;
        }
      }

      .middleSide {
        display: none !important;
      }
    }

    .bottomHeader {
      display: none !important;
    }
  }
}

@media only screen and (max-width: $small) {
  .header {
    .topHeader {
      .rightSide {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .header {
    .topHeader {
      .leftSide {
        display: none !important;
      }

      .miniLogo {
        display: flex;
        margin: auto;
        margin-left: 0;
      }
    }
  }
}