@import '../../../index.module.scss';

.splineChart {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $mainBrightBox;
    padding: 25px;

    h1 {
        @include chartTitle()
    }

    .setDate {
        width: 100%;
        display: flex;
        margin-top: 20px;

        main {
            display: flex;
            margin: auto;
            justify-content: space-around;
            flex-wrap: wrap;

            button {
                margin: 5px;
                border: 1px solid $inputBrightText;
                padding: 5px 20px;
                font-family: myFont;
                font-size: $fontSize2;
                font-weight: bold;
                border-radius: 5px;
                background-color: $inputBrightBack;
                transition: all 0.5s;
                color: $mainBrightText;
            }

            .activeDate {
                background-color: $mainBrightBox;
                color: $inputBrightText;
            }
        }
    }
}

.splineChart_dark {
    background-color: $mainDarkBox;
    box-shadow: $darkBoxShadow;

    h1 {
        color: $mainDarkText;
    }

    .setDate {
        main {
            button {
                border: 1px solid rgb(55, 55, 55);
                background-color: $mainDarkBox;
                color: $inputDarkText;
            }

            .activeDate {
                background-color: $inputDarkBack;
                color: $mainDarkText;
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    .splineChart {
        width: 98%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: $small) {
    .splineChart {
        margin: 20px auto;
    }
}