@import '../../index.module.scss';

.toggle {
    width: 50px;
    height: 30px;
    background-color: $inputBrightBack;
    display: flex;
    border-radius: 50px;
    margin: auto;
    margin-right: 0;
    transition: all 0.5s;
    border: 1px solid darken($inputBrightBack, 20%);

    &:hover {
        cursor: pointer;
    }

    .switch {
        width: 25px;
        border-radius: 100px;
        height: 25px;
        background-color: $tableHeaderBack;
        z-index: 5;
        margin: auto;
        margin-left: 5px;
        display: flex;
        transition: all 0.5s;

        i {
            margin: auto;
            font-size: 20px;
        }

        .brightIcon {
            color: gold;
        }

        .darkIcon {
            color: silver;
            display: none;
        }
    }

    .switch_dark {
        background-color: $tableDarkHeaderBack;
        margin-left: 21px;
    }
}