@import "../../GlobalStyles.scss";

.galleries {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  .gallery {
    display: flex;
    flex-direction: column;
    margin: 22px 0px 0px 80px;
    width: 920px;

    .title {
      @include title();
      font-size: 15px;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;

      .nothingToShow {
        width: 100%;
        height: 100px;
        font-family: $font;
        text-align: center;
        padding-top: 40px;
        font-weight: bolder;
      }
    }

    .offset {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      background: linear-gradient(to left, $primaryColor3, $primaryColor1, $primaryColor3);
      padding: 0;

      li {
        background-color: lighten($linkColor, 30%);
        width: 50px;
        margin: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        font-size: 20px;
        font-family: $font;
        transition: all 0.5s;
        border-radius: 20px;

        &:hover {
          cursor: pointer;
          background-color: lighten($linkColor, 40%);
        }
      }

      li.hoveredOffset {
        background-color: $secondaryColor2;
        color: $primaryColor4;
      }
    }
  }

  .filter {
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      flex-grow: 1;
      font-family: $font;
      margin: 15px auto;
      padding: 10px;
      border-radius: 5px;
      background-color: transparent;
      color: $secondaryColor1;
      border: 1px solid $secondaryColor1;
    }

    table {
      width: 100%;
      font-family: $font;
      background-color: transparent;

      thead {
        @include title();

        tr {
          td {
            padding: 7px;
            border-radius: 10px 10px 0 0;
          }
        }
      }

      tbody:not(.price) {
        background-color: lighten($linkColor, 40%);
        text-align: right;

        tr {
          td {
            padding: 5px;
          }
        }
      }

      tbody.price {
        text-align: right;
        background-color: lighten($linkColor, 40%);

        tr {
          td {
            padding: 5px;
            display: flex;
            flex-direction: column;

            span {
              width: 100%;
              text-align: center;
              font-family: $numberFont;
            }

            .priceBar {
              width: 100%;
              display: flex;
              flex-direction: row;

              input {
                width: 50%;
                -webkit-appearance: none;
                height: 10px;
                background: lighten($linkColor, 50%);
                box-shadow: inset 0 0 5px $thumbBackColor;
                border-radius: 10px;
                outline: none;
                -webkit-transition: 0.2s;
                transition: opacity 0.2s;

                &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 15px;
                  height: 15px;
                  border-radius: 10px;
                  background: $thumbBackColor;
                  cursor: pointer;

                  &:active {
                    background: $hoverColor;
                  }
                }
              }
            }
          }
        }
      }
    }

    table:not(.price) {
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width: $big) {
  .galleries {

    .gallery,
    .filter {
      margin: 10px;
      font-size: 13px;
      margin-top: 40px;
    }

    .gallery {
      margin: 30px 0px 0px 0px;
    }
  }
}

@media only screen and (max-width: $medium) {
  .galleries {
    .gallery {
      margin: 30px 0px 0px 10px;
    }
  }
}

@media only screen and (max-width: $small) {
  .galleries {
    margin-top: 80px;
    flex-direction: column;

    .gallery {
      width: auto;
      margin-top: 0;
    }

    .filter {
      width: auto;
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .galleries {
    .gallery {
      main {
        margin-left: 10px;
      }
    }
  }
}