@import "../../../../GlobalStyles.scss";

.topProducts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  right: 70px;

  .title {
    @include title();
  }
}

@media only screen and (max-width: $big) {
  .topProducts {
    flex-direction: row;
    top: 1650px;
    left: 0px;

    .title {
      display: none;
    }
  }
}

@media only screen and (max-width: $medium) {
  .topProducts {
    left: 5px;
  }
}

@media only screen and (max-width: $small) {
  .topProducts {
    top: 1950px;
    left: -20px;
  }
}

@media only screen and (max-width: $verySmall) {
  .topProducts {
    margin: 20px auto;
    margin-right: -85px;
  }
}
