@import "../../../../GlobalStyles.scss";

.topProducts {
  display: flex;
  flex-direction: column;
  margin: -250px 58px 280px 0px;
  float: right;

  .title {
    width: 100%;
    background-color: darken($baseColor2, 35%);
    color: lightgray;
    padding: 7px;
    text-align: center;
    font-family: $font;
  }
}

@media only screen and (max-width: $big) {
  .topProducts {
    flex-direction: row;
    margin: 20px auto;

    .title {
      display: none;
    }
  }
}

@media only screen and (max-width: $medium) {
  .topProducts {
    margin: 20px auto;
    margin-right: 5px;
  }
}

@media only screen and (max-width: $small) {
  .topProducts {
    margin: 20px auto;
    margin-right: -20px;
  }
}

@media only screen and (max-width: $verySmall) {
  .topProducts {
    margin: 20px auto;
    margin-right: -85px;
  }
}
///////////////////////////////////////////////////////////
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 0px 80px 80px;
  float: left;
  background-color: lighten($baseColor2, 50%);
  width: 960px;

  .title {
    width: 100%;
    background-color: darken($baseColor2, 35%);
    color: lightgray;
    padding: 7px;
    text-align: center;
    font-family: $font;
  }

  main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .offset {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: darken($baseColor2, 35%);

    li {
      background-color: lightgray;
      width: 50px;
      margin: 10px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      font-family: $font;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        background-color: lighten($baseColor1, 20%);
      }
    }

    li.hoveredOffset {
      background-color: aqua;
    }
  }
}
