@import "../../../../GlobalStyles.scss";

.topProducts {
  display: flex;
  flex-direction: column;
  margin: -250px 58px 280px 0px;
  float: right;

  .title {
    @include title();
  }
}

@media only screen and (max-width: $big) {
  .topProducts {
    flex-direction: row;
    margin: 20px auto;

    .title {
      display: none;
    }
  }
}

@media only screen and (max-width: $medium) {
  .topProducts {
    margin: 20px auto;
    margin-right: 5px;
  }
}

@media only screen and (max-width: $small) {
  .topProducts {
    margin: 20px auto;
    margin-right: -20px;
  }
}

@media only screen and (max-width: $verySmall) {
  .topProducts {
    margin: 20px auto;
    margin-right: -85px;
  }
}
