@import "../../GlobalStyles.scss";

.sign {
  width: 500px;
  background-color: $superLightColor;
  z-index: 5;
  margin: 20px auto;
  position: absolute;
  top: 140px;
  left: 425px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 50px 1000px rgba(0, 0, 0, 0.6);

  .title {
    @include title();

    .closeSign {
      @include closeBtn(45px);
      position: absolute;
      left: -5px;
      top: -8px;
      color: $pageBackColor;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    div {
      .i {
        font-size: 50px;
        position: absolute;
        z-index: 2;
        right: 40px;
        background-color: $pageBackColor;
        border: 1px solid darken($linkColor, 10%);
        border-radius: 50px;
        padding: 10px;
      }

      input {
        @include inp();
        width: 400px;
        margin: 10px auto;
        margin-right: 20px;
        text-align: center;

        &::placeholder {
          text-align: center;
        }
      }
    }

    div.name {
      .i {
        top: 68px;
      }
    }

    div.signInUser {
      .i {
        top: 68px;
      }
    }

    div.signUpUser {
      .i {
        top: 128px;
      }
    }

    div.email {
      .i {
        top: 188px;
        right: 37px;
      }
    }

    div.signInPass {
      .i {
        top: 128px;
        right: 37px;
      }
    }

    div.signUpPass {
      .i {
        top: 248px;
        right: 37px;
      }
    }

    button {
      @include btn(
        $superLightColor,
        $superDarkColor,
        $hoverColor,
        $superLightColor
      );
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 20px;
      @include shadow();
    }

    .rememberMe {
      text-align: right;
      float: right;
      font-family: $font;
      color: darken($linkColor, 30%);
      width: fit-content;
      display: inline;

      input {
        width: 20px;
      }
    }

    a {
      text-align: right;
      font-family: $font;
      color: rgb(14, 107, 107);
      padding-bottom: 5px;
      margin-bottom: 10px;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@media only screen and (max-width: $big) {
  .sign {
    left: 245px;
  }
}

@media only screen and (max-width: $medium) {
  .sign {
    left: 100px;
  }
}

@media only screen and (max-width: $small) {
  .sign {
    left: 0px;
  }
}

@media only screen and (max-width: $verySmall) {
  .sign {
    width: 100%;

    main {
      div {
        input {
          width: 100%;
        }

        .i {
          display: none;
        }
      }

      a {
        text-align: center;
      }
    }
  }
}
