.softwares {
    width: 80%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: flex-end;
        margin-top: -30px;

        h1 {
            color: gray;
            margin-right: 20px;
            font-size: 30px;
            font-family: specialFont;
            font-weight: bold;
            text-align: right;
        }

        select {
            margin: auto 0;
            margin-right: 20px;
            padding: 0 20px;
            height: 50px;
            text-align: center;
            font-family: myFont;
            font-size: 20px;
            border-radius: 10px;
            border: 1px solid gray;
            font-weight: bold;
            appearance: none;
            background-color: whitesmoke;
            transition: all 0.5s;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

.softwares_dark {
    background-color: rgb(22, 22, 22);
}

@media only screen and (max-width: 1100px) {
    .softwares {
        width: 100%;

        .title {
            h1 {
                margin-right: 80px;
            }
        }
    }
}