@import '../index.module.scss';

.header {
    display: flex;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: $brightBackground;
    z-index: 5;
    box-shadow: $brightBoxShadow1;

    .search {
        margin: auto;
        margin-right: 20px;
        width: 300px;
        display: flex;
        border-radius: 50px;
        border: 1px solid darken($brightBackground, 20%);

        button {
            border: none;
            width: 60px;
            border-radius: 0 50px 50px 0;
            padding: 10px 0px;
            margin-left: -20px;
            background-color: $brightBoxColor;

            i {
                transition: all 0.1s;
            }

            &:hover {
                cursor: pointer;

                i {
                    font-size: $fontSize3;
                }
            }
        }

        input {
            text-align: right;
            width: 100%;
            outline: none;
            border: none;
            background: linear-gradient(to right, white, $brightBoxColor);
            padding-right: 25px;
            padding-bottom: 20px;
            font-family: myFont;
            font-size: $fontSize3;
            border-radius: 50px 0 0 50px;

            &::placeholder {
                transition: all 0.2s;
                position: absolute;
                right: 20px;
                top: 13px;
                font-size: $fontSize2;
            }

            &:focus {
                &::placeholder {
                    font-size: $fontSize1;
                    top: 0;
                    right: 200px;
                }
            }
        }
    }

    .profile {
        margin: auto;
        margin-left: 20px;
        display: flex;
        font-size: $fontSize5;

        button {
            background-color: transparent;
            margin: 0 5px;
            display: flex;

            .notifications {
                background-color: rgb(255, 102, 102);
                height: 30px;
                position: absolute;
                margin-top: -10px;
                margin-left: 10px;
                z-index: -5;
                display: flex;
                padding: 8px;
                border-radius: 50px;

                span {
                    margin: auto;
                    margin-top: -10px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            i {
                margin: auto;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                margin: auto;
            }
        }

        .userInfo {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 250px;
            margin-top: 70px;
            display: none;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
            box-shadow: $brightBoxShadow2;

            .informations {
                display: flex;
                flex-direction: column;
                background: linear-gradient(135deg, darken(aqua, 10%), lighten($mainBrightBlue, 10%));
                padding: 20px;
                border-radius: 10px 10px 0 0;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    margin: 0 auto 20px auto;
                }

                h1 {
                    font-size: $fontSize2;
                    text-align: center;
                    margin: 5px auto;
                    color: $brightBoxColor;
                }
            }

            .choises {
                background-color: $brightBoxColor;
                display: flex;
                flex-direction: column;
                border-radius: 0 0 10px 10px;
                padding: 5px 0;

                .link {
                    display: flex;
                    margin: auto;
                    width: 100%;
                    background-color: $brightBoxColor;
                    transition: all 0.3s;
                    border-top: 1px solid $brightBackground;
                    border-bottom: 1px solid $brightBackground;
                    text-decoration: none;

                    h1 {
                        font-size: $fontSize3;
                        font-family: myFont;
                        text-align: center;
                        margin: 5px auto;
                        color: $darkBoxColor;
                        margin-right: 10px;
                    }

                    i {
                        margin: auto 0;
                        margin-right: 5px;
                        font-size: $fontSize3;
                        color: $darkBoxColor;
                    }

                    &:hover {
                        background-color: $brightBackground;
                    }
                }
            }
        }
    }
}

.header_dark {
    background-color: $darkBackground;
    box-shadow: $darkBoxShadow;

    .search {
        border: none;

        button {
            background-color: lighten($darkBoxColor, 10%);

            i {
                color: $brightBoxColor;
            }
        }

        input {
            background: linear-gradient(to right, lighten($darkBoxColor, 5%), lighten($darkBoxColor, 10%));
            color: $brightBoxColor;

            &::placeholder {
                color: $brightBoxColor;
            }
        }
    }

    .profile {
        button {
            i {
                color: $brightBackground;
            }
        }

        .userInfo {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

            .informations {
                background: linear-gradient(135deg, darken(aqua, 50%), lighten($mainBrightBlue, 10%));
            }

            .choises {
                background-color: $darkBoxColor;

                .link {
                    background-color: $darkBoxColor;
                    border-top: 1px solid $darkBackground;
                    border-bottom: 1px solid $darkBackground;

                    h1,
                    i {
                        color: $brightBoxColor;
                    }

                    &:hover {
                        background-color: rgb(12, 12, 12);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .header {
        .search {
            width: 200px;
            margin-left: 20px;

            input {
                &::placeholder {
                    font-size: $fontSize2;
                }

                &:focus {
                    &::placeholder {
                        right: 120px;
                    }
                }
            }
        }
    }
}