@import "../../../../../GlobalStyles.scss";

.category {
  width: 220px;
  height: 220px;
  margin: 10px;
  display: flex;
  background-image: -webkit-radial-gradient(circle, rgb(255, 237, 134), gold);
  @include shadow();

  &:hover {
    cursor: pointer;
    .label {
      margin-top: 0px;
      color: rgba(0, 0, 0, 0.9);
      opacity: 0.3;
    }
  }

  .label {
    background-color: $baseColor2;
    opacity: 0.6;
    border-radius: 3px;
    text-align: center;
    font-family: $font;
    color: darken($baseColor2, 30%);
    margin: 20px auto;
    margin-top: 20px;
    font-weight: 800;
    padding: 10px;
    transition: all 1s;
    z-index: 2;
    width: 220px;
    position: absolute;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
