@import "../../../../../GlobalStyles.scss";

.category {
  width: 460px;
  height: 400px;
  margin: 10px;
  display: flex;
  background-image: -webkit-radial-gradient(
    circle,
    lighten($mainColor, 20%),
    lighten($mainColor, 20%),
    $mainColor
  );
  @include shadow();

  &:hover {
    cursor: pointer;

    .label {
      border-radius: 50px 50px 0 0;
    }
  }

  &:not(:hover) {
    transition: all 0.5s;
  }

  .label {
    opacity: 0.8;
    border-radius: 0;
    text-align: center;
    font-family: $font;
    color: $superLightColor;
    margin: 352px auto;
    font-weight: 500;
    padding: 10px;
    transition: all 1s;
    z-index: 2;
    width: 460px;
    position: absolute;
    background-color: $superDarkColor;
  }

  img {
    width: 460px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    transition: all 0.3s;
  }
}

@media only screen and (max-width: $medium) {
  .category {
    width: 200px;
    height: 200px;

    .label {
      width: 200px;
    }

    img {
      width: 120px;
      height: 120px;
      margin-top: 60px;
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .category {
    width: 150px;
    height: 150px;
    margin: 5px;

    .label {
      width: 150px;
      font-size: 12px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-top: 40px;
    }
  }
}
