@import "../../../../GlobalStyles.scss";

.topProducts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  right: 70px;

  .title {
    @include title();
  }

  main {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: $big) {
  .topProducts {
    top: 1650px;
    left: 0px;

    .title {
      width: 1000px;
    }

    main {
      flex-direction: row;
    }
  }
}

@media only screen and (max-width: $medium) {
  .topProducts {
    left: 5px;

    .title {
      width: 690px;
    }
  }
}

@media only screen and (max-width: $small) {
  .topProducts {
    top: 1950px;
    left: 10px;

    .title {
      width: 480px;
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .topProducts {
    top: 1500px;
    left: -85px;

    .title {
      width: 450px;
    }
  }
}
