.dashboard {
    width: 80%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 0;
        margin-bottom: 50px;

        h1 {
            color: gray;
            margin: auto;
            margin-right: 20px;
            font-size: 30px;
            font-family: specialFont;
            font-weight: bold;
        }

        .search {
            margin: auto;
            margin-left: 40px;
            width: 300px;
            display: flex;

            button {
                border: none;
                width: 60px;
                border-radius: 50px;
                padding: 10px 12px;
                margin-left: -20px;
                background-color: white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                i {
                    transition: all 0.1s;
                }

                &:hover {
                    cursor: pointer;

                    i {
                        font-size: 20px;
                    }
                }
            }

            input {
                text-align: right;
                width: 100%;
                height: 50px;
                outline: none;
                border: none;
                border-bottom: 1px solid gray;
                background-color: transparent;
                padding-right: 25px;
                font-family: myFont;
                font-size: 20px;
            }
        }
    }
}