@import '../../../index.module.scss';

.infoTable {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $mainBrightBox;
    padding: 25px;

    h1 {
        @include chartTitle();
        width: 100%;
    }

    main {
        display: flex;
        justify-content: center;
        margin-top: -87px;

        .filter {
            display: flex;
            margin: auto;
            margin-right: 0;

            label {
                @include chartTitle();
                margin: auto;
                font-size: $fontSize2;
            }

            select {
                text-align: center;
                width: auto;
                outline: none;
                border: none;
                background-color: $inputBrightBack;
                font-family: specialFont;
                font-size: $fontSize2;
                border-radius: 5px;
                margin-right: 10px;
                border: 1px solid gray;
                color: $inputBrightText;

                &:focus {
                    background-color: $mainBrightBox;
                    color: $mainBrightText;
                    border-radius: 5px 5px 0 0;
                }
            }
        }

        .numberOfRecords {
            display: flex;
            margin: auto;
            margin-left: 0;

            label {
                @include chartTitle();
                margin: auto;
                font-size: $fontSize2;
            }

            input {
                text-align: center;
                width: 50px;
                outline: none;
                border: none;
                background-color: $inputBrightBack;
                font-family: specialFont;
                font-size: $fontSize3;
                border-radius: 5px;
                margin-right: 10px;
                border: 1px solid gray;
                color: $inputBrightText;

                &:focus {
                    background-color: $mainBrightBox;
                    color: $mainBrightText
                }
            }
        }
    }

    .tableContainer {
        display: flex;
        overflow-x: scroll;
        margin: 30px 0;

        &::-webkit-scrollbar {
            display: none;
        }

        table {
            background-color: $mainBrightBox;
            text-align: center;
            border-radius: 5px;
            margin-top: 0;
            margin-bottom: auto;

            thead {
                tr {
                    th {
                        text-align: center;
                        font-family: myFont;
                        font-size: $fontSize2;
                        background-color: $tableHeaderBack;
                        color: $mainBrightBox;
                        margin: auto;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        text-align: center;
                        font-size: $fontSize2;
                        font-family: specialFont;
                    }

                    .ok {
                        color: green;
                    }

                    .failed {
                        color: $mainBrightRed;
                    }
                }
            }
        }
    }

    .noDataToShow {
        color: $mainBrightRed;
        background-color: pink;
        padding: 30px;
        border-radius: 10px;
        margin-top: 30px;
    }
}

.infoTable_dark {
    background-color: $mainDarkBox;
    box-shadow: $darkBoxShadow;

    h1 {
        color: $mainDarkText;
    }

    main {

        .filter,
        .numberOfRecords {

            label {
                color: $mainDarkText;
            }

            select,
            input {
                background-color: $inputDarkBack;
                color: $inputDarkText;

                &:focus {
                    background-color: $mainDarkBox;
                    color: $mainDarkText;
                }
            }
        }
    }

    .tableContainer {
        table {
            border: 1px solid lighten($mainDarkBox, 20%);

            thead {
                tr {
                    th {
                        border: 1px solid lighten($mainDarkBox, 20%);
                        background-color: $tableDarkHeaderBack;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid lighten($mainDarkBox, 20%);
                        background-color: $inputDarkBack;
                        color: $mainDarkText;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $large) {
    .infoTable {
        margin: 50px auto;

        .tableContainer {
            &::-webkit-scrollbar {
                display: initial;
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    .infoTable {
        width: 98%;
    }
}

@media only screen and (max-width: $small) {
    .infoTable {
        main {
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: $super_small) {
    .infoTable {
        main {
            flex-direction: column;

            .numberOfRecords,
            .filter {
                margin: 5px auto;
            }
        }
    }
}