@import '../../../index.module.scss';

.infoTable {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $brightBoxColor;
    padding: 25px;

    h1 {
        @include chartTitle()
    }

    table {
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 5px;
        margin-top: 0;
        margin-bottom: auto;

        thead {
            tr {
                th {
                    text-align: center;
                    font-family: myFont;
                    font-size: $fontSize2;
                    background-color: $mainBrightBlue;
                    color: whitesmoke;
                    margin-top: auto;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                    font-size: $fontSize2;
                    font-family: specialFont;
                }
            }
        }
    }
}

.infoTable_dark {
    background-color: $darkBoxColor;
    box-shadow: $darkBoxShadow;

    table {
        border: 1px solid lighten($darkBoxColor, 20%);

        thead {
            tr {
                th {
                    border: 1px solid lighten($darkBoxColor, 20%);
                    background-color: darken($darkBoxColor, 10%);
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid lighten($darkBoxColor, 20%);
                    background-color: $darkBoxColor;
                    color: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .infoTable {
        width: 95%;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 600px) {
    .infoTable {
        width: 95%;
    }
}