.infoBox {
    width: 18%;
    margin: 30px 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;

    .icon {
        width: 70px;
        height: 70px;
        display: flex;
        position: absolute;
        margin-left: 10px;
        margin-top: -60px;
        border-radius: 5px;

        i {
            margin: auto;
            font-size: 30px;
            color: whitesmoke;
        }
    }

    label.title,
    span {
        margin: auto;
        margin-top: 20px;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    label.title {
        color: rgb(185, 185, 185);
        font-family: specialFont;
        font-size: 18px;
        text-align: right;
        padding-right: 10px;
    }

    span {
        color: gray;
        font-size: 40px;
        margin-top: 0px;
    }

    label.moreInfo {
        text-align: center;
        margin-top: 10px;
    }
}