@import '../../index.module.scss';

.infoTable {
    width: 46%;
    margin: 80px 20px;
    text-align: center;

    .title {
        font-size: 25px;
        font-family: myFont;
        background-color: rgb(26, 135, 168);
        width: 80%;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: -50px;
        border-radius: 50px 50px 0 0;
        color: whitesmoke;
    }

    table {
        width: 100%;
        border: 1px solid lightgray;
        box-shadow: $brightBoxShadow2;

        thead {
            tr {
                th {
                    border: 1px solid lightgray;
                    text-align: center;
                    font-family: specialFont;
                    background-color: darken(rgb(26, 135, 168), 10%);
                    font-size: 20px;
                    color: whitesmoke;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid lightgray;
                    text-align: center;
                    font-family: myFont;
                }
            }
        }
    }
}

.infoTable_dark {
    .title {
        background-color: rgb(0, 14, 28);
    }

    table {
        border: 1px solid gray;
        box-shadow: $brightBoxShadow2;

        thead {
            tr {
                th {
                    border: 1px solid gray;
                    background-color: rgb(17, 17, 17);
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid gray;
                    background-color: rgb(39, 39, 39);
                    color: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .infoTable {
        width: 80%;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 1100px) {
    .infoTable {
        margin-left: 20px;
    }
}