@import '../../index.module.scss';

.lineChart {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $brightBoxColor;
    padding: 25px;

    h1 {
        font-family: myFont;
        font-size: $fontSize3;
        color: $chartTitleColor;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .setDate {
        width: 100%;
        display: flex;
        margin-top: 20px;

        main {
            display: flex;
            margin: auto;
            justify-content: space-around;
            flex-wrap: wrap;

            button {
                margin: 5px 10px;
                border: 1px solid $chartTitleColor;
                padding: 5px 20px;
                font-family: myFont;
                font-size: $fontSize3;
                font-weight: bold;
                border-radius: 5px;
                background-color: $brightBackground;
                transition: all 0.5s;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }

            .activeDate {
                background-color: $brightBoxColor;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
}

.lineChart_dark {
    background-color: $darkBoxColor;
    box-shadow: $darkBoxShadow;
}

@media only screen and (max-width: 1350px) {
    .lineChart {
        width: 98%;
        margin: 20px 5px;
    }
}

@media only screen and (max-width: 900px) {
    .lineChart {
        margin: 20px auto;
    }
}