.lineChart {
    width: 580px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
    padding: 25px;

    .setDate {
        width: 100%;
        display: flex;
        padding: 0 40px;
        margin-top: 20px;

        button {
            margin: 0 10px;
            border: 1px solid gray;
            padding: 5px 20px;
            font-family: myFont;
            font-size: 20px;
            font-weight: bold;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background-color: rgb(226, 226, 226);
        }

        .activeDate {
            background-color: whitesmoke;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}