@import "../../GlobalStyles.scss";

.carts {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  .cart {
    display: flex;
    flex-direction: column;
    margin: 22px auto;
    width: 70%;

    .title {
      @include title();
      font-size: 15px;
      direction: rtl;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;

      .nothingToShow {
        width: 100%;
        height: 100px;
        font-family: $font;
        text-align: center;
        padding-top: 40px;
        font-weight: bolder;
      }
    }

    .offset {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      background: linear-gradient(to left, $primaryColor3, $primaryColor1, $primaryColor3);
      padding: 0;

      li {
        background-color: lighten($linkColor, 30%);
        width: 50px;
        margin: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        font-size: 20px;
        font-family: $font;
        transition: all 0.5s;
        border-radius: 20px;

        &:hover {
          cursor: pointer;
          background-color: lighten($linkColor, 40%);
        }
      }

      li.hoveredOffset {
        background-color: $secondaryColor2;
        color: $primaryColor4;
      }
    }
  }

  .filter {
    width: 20%;
    margin: 30px auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;

    .conformShop {
      background-image: linear-gradient(19deg, $primaryColor5, $primaryColor5, $secondaryColor1);
      color: $superLightColor;
      transition: all 0.5s;
      padding: 10px;
      width: 100%;
      opacity: 0.9;
      font-family: 'iran';
      margin-top: 20px;

      &:hover {
        opacity: 1;
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 10px 0;

        &:first-child {
          span {
            color: gray;
          }
        }

        .label {
          color: gray;
        }

        .value {
          color: $primaryColor4;

          &:nth-child(1) {
            color: red;
            direction: rtl;
            font-size: 15px;
          }
        }

        span {
          font-family: 'vazir';
        }
      }
    }
  }
}

@media only screen and (max-width: $big) {
  .carts {

    .cart,
    .filter {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: $medium) {
  .carts {
    flex-direction: column;

    .cart {
      margin: 30px 0px 0px 10px;
      width: 100%;
      margin: 30px auto;
    }

    .filter {
      width: 95%;
      margin: 10px auto;
      flex-wrap: wrap;
      flex-direction: row;

      button {
        width: 45%;
        margin: auto 10px;
      }

      table {
        width: 33%;
        margin: auto;

        &:first-child {
          width: 45%;
          margin-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .carts {
    margin-top: 80px;
    flex-direction: column;

    .cart {
      margin-top: 0;
    }

    .filter {
      table {
        width: 50%;

        &:nth-child(5) {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .carts {
    .cart {
      main {
        margin-left: 10px;
      }
    }
  }
}