$font:'iran';
$numberFont:'vazir';
$baseColor1:$baseColor1;
$baseColor2:rgb(105, 105, 105);

.sign {
  width: 500px;
  height: 230px;
  background-color: white;
  z-index: 1;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;

  .title {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;

    h5 {
      font-family: $font;
      float: right;
      width: auto;
      margin: 20px;
      font-weight: lighter;
    }

    i {
      float: left;
      width: auto;
      margin: 20px 30px;
      color: $baseColor1;
      font-size: 23px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #username {
    width: 85%;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid $baseColor1;
    position: absolute;
    top: 40px;
    left: 28px;
    font-size: 20px;
    font-family: $numberFont;
    padding-left: 15px;
  }

  #password {
    width: 85%;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid $baseColor1;
    position: absolute;
    top: 90px;
    left: 28px;
    font-size: 20px;
    font-family: $numberFont;
    padding-left: 15px;
  }

  input {
    &:hover {
      background-color: rgb(255, 233, 191);
    }
  }

  .buttons {
    width: 85%;
    height: 40px;
    margin: 20px auto;
    position: absolute;
    top: 150px;
    left: 28px;

    .sendCode,
    .signIn {
      width: 100px;
      font-family: $font;
      background-color: $baseColor1;
      color: white;
      float: left;
      border: 2px solid $baseColor1;
      font-size: 12px;
      padding: 5px 2px;
      border-radius: 10px;
      z-index: 1;
    }

    .cancel {
      width: 100px;
      font-family: $font;
      background-color: transparent;
      color: $baseColor2;
      float: left;
      border: 2px solid $baseColor2;
      font-size: 12px;
      padding: 5px 2px;
      border-radius: 10px;
      z-index: 1;
      margin-right: 10px;
    }
  }
}