.infoTable {
    width: 46%;
    margin: 80px 20px;
    text-align: center;
    border: 1px solid rgb(194, 194, 194);

    .title {
        font-size: 25px;
        font-family: myFont;
        background-color: lightsalmon;
        width: 80%;
        padding: 10px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: -20px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    table {
        width: 100%;

        thead {
            tr {
                th {
                    text-align: center;
                    font-family: specialFont;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                    font-family: myFont;
                }
            }
        }
    }
}