@import '../../index.module.scss';

.select {
    width: 150px;
    font-size: $fontSize3;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;

    button {
        width: 100%;
        margin: auto 0;
        padding: 10px;
        text-align: center;
        font-size: $fontSize2;
        border-radius: 5px;
        border: 1px solid gray;
        font-weight: bold;
        appearance: none;
        background-color: $mainBrightBox;
        transition: all 0.5s;
        color: $inputBrightText;
    }

    .options {
        position: absolute;
        margin-top: 50px;
        width: 150px;
        font-size: $fontSize2;
        text-align: center;
        padding: 5px;
        background-color: $mainBrightBox;
        display: flex;
        flex-direction: column;
        z-index: 5;
        box-shadow: $brightBoxShadow2;
        color: $inputBrightText;

        span {
            border-bottom: 1px solid $inputBrightBack;
            padding: 5px;
            font-family: finglishFont;

            &:hover {
                background-color: $inputBrightBack;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.select_dark {
    button {
        background-color: $mainDarkBox;
        border: 1px solid darken($mainDarkBox, 40%);
        color: $inputDarkText;
    }

    .options {
        background-color: $mainDarkBox;
        color: $inputDarkText;

        span {
            border-bottom: 1px solid darken($mainDarkBox, 40%);

            &:hover {
                background-color: $inputDarkBack;
            }
        }
    }
}