@import '../../index.module.scss';

.notFound {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    img {
        width: 60%;
        margin: auto;
    }

    h1 {
        font-size: 40px;
        margin: auto;
        color: $title;
        font-weight: bold;
        font-family: specialFont;
    }
}