.slideNav {
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-image: linear-gradient(to right, rgb(77, 77, 77), rgb(31, 31, 31));
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    h1 {
        margin: 20px auto;
        color: gray;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        font-family: myFont;
        font-size: 28px;
        width: 100%;
        text-align: right;
    }

    button {
        width: 100%;
        display: flex;
        margin: 10px auto;
        background-color: transparent;
        border-radius: 5px;
        padding: 15px 15px;
        font-size: 25px;
        border: none;
        font-family: myFont;
        font-weight: bold;
        color: lightgray;
        justify-content: flex-end;

        i {
            margin-left: 10px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .activeNav {
        background-color: rgba(26, 135, 168, 0.8);
    }
}