.hiddenMenu {
  width: 100%;
  height: 0px;
  display: flex;
  margin: 0 auto;
  position: absolute;
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-bottom: 1px solid gray;
  animation: showing 1s forwards;
}

@keyframes showing {
  100% {height: 500px;}
}

.hiddenMenuIsClosing{
  height: 500px;
  animation: hiding 1s forwards;
}

@keyframes hiding {
  100% {height: 0px;}
}

.hiddenMenu .closeHiddenMenu {
  font-size: 45px;
  flex-grow: 0;
  margin: 10px;
  width: auto;
  height: 45px;
  color: rgb(216, 152, 33);
  font-weight: 100;
}

.hiddenMenu .closeHiddenMenu:hover {
  cursor: pointer;
}

.hiddenMenu .signButton {
  position: relative;
  margin-top: 50px;
}

.hiddenMenu .rightSide {
  font-family: "iran";
  color: #171a1d;
  position: relative;
  margin-top: 40px;
  z-index: 1;
  float: right;
  flex-grow: 1;
}

.hiddenMenu .rightSide .signIn {
  width: 180px;
  font-family: "iran";
  background-color: rgb(216, 152, 33);
  color: white;
  float: right;
  border: 1px solid #d89821;
  font-size: 20px;
  padding: 8px 2px 12px 2px;
  border-radius: 50px;
  z-index: 1;
  margin: 20px -10px;
}

.hiddenMenu .rightSide .signIn:hover {
  background-color: white;
  color: rgb(216, 152, 33);
  border: 1px solid black;
  transition: all 0.5s;
}

.hiddenMenu .rightSide .signIn:not(:hover){
  background-color: rgb(216, 152, 33);
  color: white;
  border: 1px solid rgb(216, 152, 33);
  transition: all 0.5s;
}

.hiddenMenu .rightSide li {
  margin: 0px 20px 0px 10px;
  font-size: 20px;
  display: block;
  padding: 0px 8px;
  font-weight: 500;
  text-align: right;
  line-height: 50px;
}

.hiddenMenu .rightSide li a {
  color: #6e6e6e;
}

.hiddenMenu li a:hover {
  color: #ff3333;
  transition: all 0.2s;
}
