@import "../../../GlobalStyles.scss";

.product {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin: auto;
  padding: 50px 15px;
  border-bottom: 1px solid lightgray;

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .liked {
      font-size: 30px;
      margin: auto;
      color: $hoverColor;
      transition: all 0.5s;
      margin-top: 0;

      &:hover {
        cursor: pointer;
        color: lighten($hoverColor, 15%);
      }
    }

    .notLiked {
      font-size: 30px;
      margin: auto;
      color: lightgray;
      transition: all 0.5s;
      margin-top: 0;

      &:hover {
        cursor: pointer;
        color: lighten($hoverColor, 30%);
      }
    }

    .addToCart {
      display: flex;
      margin: auto;
      margin-bottom: 0;

      article {
        display: flex;
        justify-content: center;
        align-items: center;

        .add {
          display: flex;

          .fillAdd {
            color: lighten($primaryColor2, 20%);
            display: none;
          }

          .outlineAdd {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillAdd {
              display: initial;
            }

            .outlineAdd {
              display: none;
            }
          }
        }

        .productCount {
          color: gray;
          width: fit-content;
          margin: auto 5px;
        }

        .minus {
          display: flex;

          .fillMinus {
            color: lighten($hoverColor, 20%);
            display: none;
          }

          .outlineMinus {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillMinus {
              display: initial;
            }

            .outlineMinus {
              display: none;
            }
          }
        }

        .delete {
          display: flex;

          .fillDelete {
            color: lighten($hoverColor, 20%);
            display: none;
          }

          .outlineDelete {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillDelete {
              display: initial;
            }

            .outlineDelete {
              display: none;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;

        .i {
          color: $secondaryColor1;
        }
      }

      .i {
        color: gray;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }


  img {
    width: 20%;
    object-fit: cover;
    margin: 10px 50px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    width: 100%;

    .productName {
      font-size: 18px;
      text-align: right;
      direction: rtl;
      font-family: $font;
      margin: 5px auto;
      color: $footerBackColor;
      width: 100%;
    }

    .conditions {
      padding: 0;

      li {
        list-style: none;
        direction: rtl;
        font-family: 'iran';
        color: gray;
        text-align: right;
        display: flex;
        font-size: 13px;

        .i {
          font-size: 17px;
          margin: auto;
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    width: 100%;

    .option {
      margin: auto;
      margin-left: 0;
      margin-top: 0;

      .i {
        color: $primaryColor2;
      }
    }

    .priceContainer {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-left: 0;
      margin-bottom: 0px;

      .price {
        text-align: left;
        direction: rtl;
        font-size: 16px;
        font-family: "vazir";
        color: $footerBackColor;
        margin: auto;
        width: 100%;
      }

      .offPrice {
        text-align: left;
        direction: rtl;
        font-size: 12px;
        font-family: "vazir";
        color: $hoverColor;
        margin: auto;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .product {
    width: 42%;
  }
}

@media only screen and (max-width: $verySmall) {
  .product {
    width: 90%;
  }
}