@import '../../../index.module.scss';

.barChart {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $mainBrightBox;
    padding: 25px;

    h1 {
        @include chartTitle();
    }

    .noDataToShow {
        color: $mainBrightRed;
        background-color: pink;
        padding: 30px;
        border-radius: 10px;
    }

    .setDate {
        width: auto;
        display: flex;
        margin-top: 20px;

        main {
            display: flex;
            width: 100%;
            margin: auto;

            h1 {
                margin: 30px auto 0 auto;
            }

            .setDateInner {
                border: 1px solid $chartTitleColor;
                padding: 5px;
                border-radius: 5px;
                background-color: $inputBrightBack;
                width: auto;
                margin: auto;
                color: $inputBrightText;

                &:focus {
                    background-color: $mainBrightBox;
                    outline: none;
                    box-shadow: $brightBoxShadow1;
                    color: $mainBrightText;
                }
            }
        }
    }

    button {
        width: 300px;
        margin: 20px auto 10px auto;
        padding: 10px;
        background-color: $tableHeaderBack;
        color: $mainBrightBox;
        border-radius: 5px;
        box-shadow: $brightBoxShadow1;
        font-size: $fontSize2;
        font-family: specialFont;
        transition: all 0.5s;

        &:hover {
            background-color: lighten($tableHeaderBack, 10%);
        }
    }
}

.barChart_dark {
    background-color: $mainDarkBox;
    box-shadow: $darkBoxShadow;

    h1 {
        color: $mainDarkText;
    }

    .setDate {
        main {
            .setDateInner {
                border: 1px solid rgb(55, 55, 55);
                background-color: $inputDarkBack;
                color: $inputDarkText;

                &:focus {
                    background-color: $mainDarkBox;
                }
            }
        }
    }

    button {
        background-color: lighten($tableDarkHeaderBack, 5%);

        &:hover {
            background-color: $tableDarkHeaderBack;
        }
    }
}

@media only screen and (max-width: 1050px) {
    .barChart {
        margin: 20px auto;
        width: 98%;

        button {
            width: 100%;
        }

        .setDate {
            main {
                .setDateInner {
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .barChart {
        padding: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .barChart {
        margin: 20px auto;

        .setDate {
            main {
                .setDateInner {
                    width: 195px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .barChart {
        .setDate {
            main {
                .setDateInner {
                    width: 150px;
                }
            }
        }
    }
}