@import '../../../index.module.scss';

.barChart {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: $brightBoxShadow1;
    background-color: $brightBoxColor;
    padding: 25px;

    h1 {
        @include chartTitle()
    }

    .noDataToShow {
        color: rgb(160, 0, 0);
        background-color: pink;
        padding: 30px;
        border-radius: 10px;
    }

    .setDate {
        width: auto;
        display: flex;
        margin-top: 20px;

        main {
            display: flex;
            width: 100%;
            margin: auto;

            h1 {
                margin: auto 10px;
            }

            .setDateInner {
                display: flex;
                flex-direction: column;
                margin: auto;

                input {
                    border: 1px solid $chartTitleColor;
                    margin: 5px 0;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $brightBackground;
                    width: auto;

                    &:focus {
                        background-color: $brightBoxColor;
                        outline: none;
                        box-shadow: $brightBoxShadow1;
                    }
                }
            }
        }
    }

    button {
        width: 300px;
        margin: 20px auto 10px auto;
        padding: 10px;
        background-color: lighten($mainBrightBlue, 10%);
        color: $brightBoxColor;
        border-radius: 5px;
        box-shadow: $brightBoxShadow1;
        font-size: $fontSize2;
        font-family: specialFont;
        transition: all 0.5s;

        &:hover {
            background-color: lighten($mainBrightBlue, 20%);
        }
    }
}

.barChart_dark {
    background-color: $darkBoxColor;
    box-shadow: $darkBoxShadow;

    .setDate {
        main {
            .setDateInner {
                input {
                    border: 1px solid rgb(55, 55, 55);
                    background-color: lighten($darkBackground, 5%);
                    color: whitesmoke;

                    &:focus {
                        background-color: $darkBackground;
                    }
                }
            }
        }
    }

    button {
        background-color: lighten($mainDarkBlue, 10%);
        color: $brightBoxColor;

        &:hover {
            background-color: lighten($mainDarkBlue, 20%);
        }
    }
}

@media only screen and (max-width: 1050px) {
    .barChart {
        margin: 20px auto;
        width: 98%;

        button {
            width: 100%;
        }

        .setDate {
            main {
                .setDateInner {
                    input {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .barChart {
        padding: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .barChart {
        margin: 20px auto;

        .setDate {
            main {
                .setDateInner {
                    input {
                        width: 195px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .barChart {
        .setDate {
            main {
                .setDateInner {
                    input {
                        width: 150px;
                    }
                }
            }
        }
    }
}