@import '../../index.module.scss';

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 250px;
    min-height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        margin-top: -20px;

        article {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 30px auto;

            .profilePreview {
                display: flex;
                flex-direction: column;
                padding: 30px;
                border-radius: 10px;
                box-shadow: $brightBoxShadow1;
                width: 30%;
                background-color: $mainBrightBox;
                margin-right: 10px;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 100px;
                    margin: auto;
                    margin-top: 0;
                }

                h1 {
                    margin: 20px auto 5px auto;
                    font-family: myFont;
                    color: $inputBrightText;
                    font-size: $fontSize4;
                }

                h2 {
                    margin: auto;
                    font-family: myFont;
                    font-weight: bold;
                    font-size: $fontSize2;
                    color: $mainBrightText;
                }

                .previewDescription {
                    border-top: 1px solid darken($mainBrightBack, 10%);

                    h1 {
                        text-align: right;
                        font-size: $fontSize3;
                        font-weight: bold;
                        color: $inputBrightText;
                    }

                    p {
                        font-family: specialFont;
                        font-size: $fontSize2;
                        text-align: justify;
                        text-align-last: right;
                        color: $mainBrightText;
                    }
                }
            }

            .profileUpdate {
                display: flex;
                flex-direction: column;
                padding: 30px;
                border-radius: 10px;
                box-shadow: $brightBoxShadow1;
                width: 63%;
                background-color: $mainBrightBox;
                margin-left: 20px;

                h1 {
                    margin: 20px 5px 5px auto;
                    font-family: myFont;
                    color: $inputBrightText;
                    font-size: $fontSize3;
                    border-bottom: 1px solid darken($mainBrightBack, 10%);
                    width: 100%;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    text-align: right;
                }

                main {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;

                    span {
                        display: flex;
                        flex-direction: column;
                        width: 46%;
                        margin: 10px auto;

                        label {
                            font-family: myFont;
                            font-size: $fontSize2;
                            text-align: right;
                            color: $mainBrightText;
                            margin-right: 5px;
                            font-weight: 100;
                        }

                        input,
                        textarea {
                            padding: 7px;
                            border-radius: 5px;
                            text-align: right;
                            background-color: $inputBrightBack;
                            color: $mainBrightText;
                            border: 1px solid gray;

                            &:focus {
                                background-color: $mainBrightBox;
                                color: $mainBrightText;
                                outline: none;
                            }
                        }

                        textarea {
                            resize: vertical;
                        }
                    }

                    .leftAlign {
                        input {
                            text-align: left;
                        }
                    }

                    .fullWidth {
                        width: 96%;
                    }
                }
            }
        }
    }
}

.profile_dark {
    background-color: $mainDarkBack;

    main {
        article {

            .profileUpdate,
            .profilePreview {
                background-color: $mainDarkBox;
                box-shadow: $darkBoxShadow;

                h1 {
                    color: $mainDarkText;
                }

                h2 {
                    color: $inputDarkText;
                }

                main {
                    span {

                        label {
                            color: $mainDarkText;
                        }

                        input,
                        textarea {
                            background-color: $inputDarkBack;
                            ;
                            color: $mainDarkText;

                            &:focus {
                                background-color: $mainDarkBox;
                                color: $mainDarkText;
                                outline: none;
                            }
                        }
                    }
                }

                .previewDescription {
                    h1 {
                        color: $mainDarkText;
                    }

                    p {
                        color: $inputDarkText;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .profile {
        padding-right: 70px;

        main {
            article {

                .profileUpdate,
                .profilePreview {
                    width: 50%;
                    border-radius: 0;
                    box-shadow: none;
                }

                .profilePreview {
                    border-left: 1px solid lightgray;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .profile {
        main {
            article {
                flex-direction: column;

                .profileUpdate,
                .profilePreview {
                    width: 90%;
                    margin: 10px auto;
                    border-radius: 10px;
                    box-shadow: $brightBoxShadow1;
                }

                .profilePreview {
                    border-left: none;
                }
            }
        }
    }
}