@import "../../../GlobalStyles.scss";

.product {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
  @include shadow();
  border-radius: 10px;
  padding: 10px 15px;

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .liked {
      font-size: 30px;
      margin: auto;
      margin-left: 0;
      color: $hoverColor;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        color: lighten($hoverColor, 15%);
      }
    }

    .notLiked {
      font-size: 30px;
      margin: auto;
      margin-left: 0;
      color: lightgray;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        color: lighten($hoverColor, 30%);
      }
    }

    .addToCart {
      display: flex;
      margin: auto;
      margin-right: 0;

      article {
        display: flex;
        justify-content: center;
        align-items: center;

        .add {
          display: flex;

          .fillAdd {
            color: lighten($primaryColor2, 20%);
            display: none;
          }

          .outlineAdd {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillAdd {
              display: initial;
            }

            .outlineAdd {
              display: none;
            }
          }
        }

        .productCount {
          color: gray;
          width: fit-content;
          margin: auto;
        }

        .minus {
          display: flex;

          .fillMinus {
            color: lighten($hoverColor, 20%);
            display: none;
          }

          .outlineMinus {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillMinus {
              display: initial;
            }

            .outlineMinus {
              display: none;
            }
          }
        }

        .delete {
          display: flex;

          .fillDelete {
            color: lighten($hoverColor, 20%);
            display: none;
          }

          .outlineDelete {
            color: gray;
          }

          &:hover {
            cursor: pointer;

            .fillDelete {
              display: initial;
            }

            .outlineDelete {
              display: none;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;

        .i {
          color: $secondaryColor3;
        }
      }

      .i {
        color: gray;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }


  img {
    width: 70%;
    height: 250px;
    object-fit: contain;
    margin: 10px auto;
    border-bottom: 1px solid lightgray;
  }

  .caption {
    display: flex;
    flex-direction: column;
    width: 100%;

    .productName {
      font-size: 17px;
      text-align: right;
      direction: rtl;
      font-family: $font;
      margin: 5px auto;
      margin-right: 0;
      color: $footerBackColor;
      overflow-x: hidden;
      width: 100%;
    }

    .stars {
      display: flex;
      margin: auto;
      margin-right: 0;

      .star {
        color: lightgray;
      }

      .lightStar {
        color: $secondaryColor1;
      }
    }

    .center {
      font-size: 12px;
      text-align: right;
      direction: rtl;
      color: $secondaryColor3;
      font-family: "iran";
      align-items: center;
      display: flex;
      margin: 5px auto;
      margin-left: 0;

      .i {
        font-size: 17px;
        margin-left: 5px;
      }
    }

    .productPrice {
      display: flex;
      margin-top: 0px;
      margin: 5px auto;
      width: 100%;

      .priceContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 0;

        .price {
          text-align: left;
          direction: rtl;
          font-size: 16px;
          font-family: "vazir";
          color: $footerBackColor;
          margin: auto;
          width: 100%;

          span {
            font-family: "price";
          }
        }

        .priceWithOff {
          text-align: left;
          direction: rtl;
          font-size: 12px;
          font-family: "vazir";
          color: gray;
          text-decoration: line-through;
          margin: auto;
          width: 100%;

          span {
            font-family: "price";
          }
        }
      }

      .offContainer {
        background-color: $hoverColor;
        margin: auto;
        margin-right: 0;
        padding: 5px 10px;
        border-radius: 50%;

        .off {
          text-align: left;
          direction: rtl;
          font-size: 16px;
          font-family: "vazir";
          color: $superLightColor;
          font-weight: 100;
          margin: auto;
        }
      }
    }
  }

  .link {
    margin-top: 10px;

    button {
      color: $primaryColor1;
      border: 1px solid rgba($primaryColor1, 0.2);
      transition: all 0.5s;
      font-family: 'vazir';
      padding: 5px;
      border-radius: 5px;
      width: 100%;

      &:hover {
        background-color: lighten($primaryColor3, 20%);
      }
    }
  }
}