.infoTable {
    width: 46%;
    margin: 80px 20px;
    text-align: center;
    border: 1px solid rgb(194, 194, 194);

    .title {
        font-size: 25px;
        font-family: myFont;
        background-color: #116668;
        width: 80%;
        padding: 10px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: -20px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        color: whitesmoke;
    }

    table {
        width: 100%;

        thead {
            tr {
                th {
                    text-align: center;
                    font-family: specialFont;
                    background-color: #44A08D;
                    font-size: 20px;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                    font-family: myFont;
                }
            }
        }
    }
}