@import "../../../../GlobalStyles.scss";

.lastProduct {
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  .title{
    width: 100%;
    background-color: darken($baseColor2, 35%);
    color: lightgray;
    padding: 10px;
    text-align: center;
    font-family: $font;
  }

  main{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    position: relative;
    width: 95%;
    z-index: 1;

    .demo{
      width: 100%;

      .item{
        margin-bottom: 20px;

        ul{
          list-style: none outside none;
          margin: auto;
        }

        .contentSlider{
          h3 {
            margin: 0;
            padding: 70px 0;
          }
        }
        
      }
    }

    .picture {
      margin: 20px auto;
      margin-right: 10px;
      padding: 15px 10px 0px 10px;
      float: right;
      width: auto;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      z-index: 2;
      background-color: white;
      border-radius: 5px;
      @include shadow();

      .mainImage {
        position: relative;
        margin: 5px auto;
        display: flex;

        img {
          width: 280px;
          height: 200px;
          object-fit: cover;
          border-radius: 5px;
          margin: 0 auto;
        }
      }

      .caption {
        color: #4d4d4d;
        text-align: right;
        font-family: $font;
        font-size: 12px;
        font-weight: 100;
        line-height: 15px;
        width: 100%;

        h2 {
          font-family: $numberFont;
        }

        p {
          font-family: $font;
          font-size: 15px;
        }
      }

      .details {
        width: 100%;
        flex-grow: 1;
        @include btn(white, black, $baseColor3, white);
        margin: 20px auto;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .lastProduct {
    main {
      .arrowLeft,
      .arrowRight {
        padding: 15px 25px 10px 20px;
        float: left;
        width: 50px;
        height: 160px;
        border: none;
        z-index: 1;
        border-radius: 10px;
      }
    }
  }
}








