@import "../../../../GlobalStyles.scss";

.lastProducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $superLightColor;
  margin: 100px auto;

  .title {
    @include title();
    font-size: 15px;
  }

  .imageList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;

    .image {
      display: flex;
      flex-direction: column;
      margin: 30px 10px;
      width: 300px;
      @include shadow();

      img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin: auto;
        padding: 20px;
      }

      .caption {
        display: flex;
        flex-direction: column;
        border-radius: 3px;

        .productName {
          font-size: 17px;
          text-align: right;
          padding-right: 20px;
          width: 100%;
          font-family: $font;
          margin: 10px auto;
          color: $footerBackColor;
        }

        .productPrice {
          font-size: 16px;
          font-family: $numberFont;
          text-align: left;
          padding-left: 20px;
          margin-top: 0px;
          margin: 5px auto;
          width: 100%;
          color: $footerBackColor;
        }
      }

      button {
        font-family: $font;
        margin-top: 10px;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .lastProducts {
    .imageList {
      .image {
        width: 200px;

        img {
          width: 200px;
          height: 200px;
        }

        .caption {
          .productName {
            font-size: 15px;
          }

          .productPrice {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .lastProducts {
    .imageList {
      .image {
        width: 150px;

        img {
          width: 150px;
          height: 150px;
        }

        .caption {
          .productName {
            font-size: 14px;
            padding-right: 0;
            text-align: center;
          }

          .productPrice {
            font-size: 13px;
            padding-left: 0;
            text-align: center;
          }
        }

        button {
          padding: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .lastProducts {
    .imageList {
      .image {
        width: 250px;

        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}