@import "../../../GlobalStyles.scss";

.advertising {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 60px;
  padding: 5px 10px;
  justify-content: center;
  z-index: 1;

  .photoContainer {
    width: 330px;
    margin-right: 70px;
    z-index: 1;

    .photo {
      width: 100px;
      height: 100px;
      margin: 5px;
      position: absolute;
      opacity: 0.1;
    }
  }

  .titleContainer {
    margin-left: 70px;
    z-index: 2;

    h1 {
      font-family: "iran";
      font-size: 35px;
      text-align: right;
      color: $btnColor1;
      padding-right: 10px;
      border-right: 5px double $btnColor2;
    }

    h2 {
      font-family: "iran";
      font-size: 25px;
      text-align: right;
      color: $footerBackColor;
    }

    p {
      font-family: "vazir";
      font-size: 15px;
      text-align: right;
      color: $linkColor;
    }

    .link {
      background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      color: $superLightColor;
      transition: all 0.5s;
      font-family: $font;
      padding: 10px;
      border-radius: 5px;
      width: 50%;
      margin-top: 70px;
      font-weight: 600;
    }
  }
}