.infoBoxes {
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin: 50px auto;
    align-items: stretch;
}

@media only screen and (max-width: 1300px) {
    .infoBoxes {
        flex-wrap: wrap;
    }
}