@import '../../index.module.scss';

.setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 250px;
    min-height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        margin-top: -20px;

        .settings {
            display: flex;
            padding: 30px;
            border-radius: 10px;
            box-shadow: $brightBoxShadow1;
            width: 95%;
            margin: 30px auto;
            background-color: $mainBrightBox;

            span {
                display: flex;
                width: 100%;
                justify-content: flex-end;

                label {
                    font-family: myFont;
                    font-size: $fontSize2;
                    text-align: right;
                    color: $inputBrightText;
                    margin: auto;
                    margin-right: 0;
                    margin-left: 10px;
                    font-weight: 100;
                }
            }
        }
    }
}

.setting_dark {
    background-color: $mainDarkBack;

    main {
        .settings {
            background-color: $mainDarkBox;
            box-shadow: $darkBoxShadow;

            span {

                label {
                    color: $inputDarkText;
                }
            }
        }
    }
}