@import '../../../index.module.scss';

.pos {
    width: auto;
    background-color: $mainGray;
    display: flex;
    flex-direction: column;
    padding: 80px 0;

    h1 {
        margin: 40px auto;
        font-size: 23px;
        font-family: specialFont;
        color: $title;
        border-bottom: 1px solid lightgray;
        padding-bottom: 15px;
    }

    main {
        display: flex;
        justify-content: space-around;
        margin: auto;

        .po {
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: 250px;
            margin: 50px;
            padding: 40px 30px 20px 30px;
            box-shadow:
                0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);


            img {
                width: 80px;
                height: 80px;
                border-radius: 50px;
                margin: -70px auto 20px auto;
                object-fit: cover;
            }

            h1 {
                color: $link;
                margin: auto;
                font-size: 20px;
                font-family: myFont;
                text-align: center;
                border-bottom: initial;
            }

            p {
                text-align: center;
                font-family: myFont;
                color: $paragraph;
                font-size: 21px;
                font-weight: bold;
            }

            i {
                font-size: 25px;
                margin: auto;
                color: $twitter;
                transition: all 0.5s;

                .tooltip {
                    display: none;
                    padding: 5px;
                    background-color: whitesmoke;
                    color: $title;
                    font-size: 20px;
                    margin-left: 20px;
                    margin-top: -5px;
                    position: absolute;
                    box-shadow:
                        0 1px 1px hsl(0deg 0% 0% / 0.075),
                        0 2px 2px hsl(0deg 0% 0% / 0.075),
                        0 4px 4px hsl(0deg 0% 0% / 0.075),
                        0 8px 8px hsl(0deg 0% 0% / 0.075),
                        0 16px 16px hsl(0deg 0% 0% / 0.075);
                }

                &:hover {
                    cursor: pointer;

                    .tooltip {
                        display: initial;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 830px) {
    .pos {
        main {
            flex-direction: column;

            .po {
                margin: 40px auto;
            }
        }
    }
}