@import '../../index.module.scss';

.header {
    display: flex;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: $mainBrightBox;
    z-index: 5;
    box-shadow: $brightBoxShadow1;

    .search {
        margin: auto;
        margin-right: 20px;
        width: 350px;
        display: flex;
        border-radius: 50px;

        button {
            border: none;
            border-radius: 0 50px 50px 0;
            padding: 10px 15px;
            margin-left: -20px;
            background-color: $inputBrightBack;
            transition: all 0.3s;

            i {
                transition: all 0.1s;
                color: $mainBrightText;
                font-size: $fontSize3;
            }

            &:hover {
                cursor: pointer;
                background-color: darken($inputBrightBack, 10%);

                i {
                    color: $inputBrightText;
                }
            }
        }

        input {
            text-align: right;
            width: 100%;
            outline: none;
            border: none;
            background-color: $inputBrightBack;
            color: $mainBrightText;
            padding-right: 25px;
            font-size: $fontSize3;
            border-radius: 50px 0 0 50px;

            &::placeholder {
                transition: all 0.2s;
                position: absolute;
                right: 30px;
                top: 8px;
                color: $mainBrightText;
                font-size: $fontSize2;
            }

            &:focus {
                &::placeholder {
                    font-size: $fontSize1;
                    top: 0;
                }
            }
        }
    }

    .account {
        margin: auto;
        margin-left: 20px;
        display: flex;
        font-size: $fontSize5;

        .profile {
            display: flex;
            flex-direction: column;

            button {
                margin: 0 5px;
                display: flex;
                z-index: 10;
                background-color: transparent;

                i {
                    margin: auto;
                    color: $inputBrightText;
                }

                h1 {
                    font-size: $fontSize3;
                    margin: auto;
                    margin-right: 10px;
                    color: $inputBrightText;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    margin: auto;
                }
            }

            .userInfo {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 250px;
                margin-top: 70px;
                margin-left: -10px;
                display: none;
                border-radius: 10px;
                transition: all 0.5s ease-in-out;
                box-shadow: $brightBoxShadow2;
                background: linear-gradient(135deg, darken(aqua, 10%), lighten($tableHeaderBack, 10%));

                .informations {
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 100px;
                        margin: 20px auto;
                    }

                    h1 {
                        font-family: finglishFont;
                        font-size: $fontSize3;
                        text-align: center;
                        line-height: 0px;
                        color: $mainBrightBox;
                    }
                }

                .choises {
                    display: flex;
                    flex-direction: column;
                    border-radius: 0 0 10px 10px;
                    padding: 5px 0;
                    margin-top: 20px;
                    background-color: $mainBrightBox;

                    .link {
                        display: flex;
                        margin: auto;
                        width: 100%;
                        background-color: $mainBrightBox;
                        transition: all 0.3s;
                        border-top: 1px solid $inputBrightBack;
                        border-bottom: 1px solid $inputBrightBack;
                        text-decoration: none;

                        h1 {
                            font-size: $fontSize3;
                            text-align: center;
                            margin: 5px auto;
                            color: $inputBrightText;
                            margin-right: 10px;
                        }

                        i {
                            margin: auto 0;
                            margin-right: 5px;
                            font-size: $fontSize3;
                            color: $inputBrightText;
                        }

                        &:hover {
                            background-color: $inputBrightBack;
                        }
                    }
                }
            }
        }

        .massages {
            background-color: transparent;
            margin: 0 5px;
            display: flex;

            .notifications {
                background-color: lighten($mainBrightRed, 30%);
                height: 25px;
                position: absolute;
                margin-top: -10px;
                margin-left: 15px;
                z-index: 5;
                display: flex;
                padding: 8px;
                border-radius: 50px;

                span {
                    margin: auto;
                    margin-top: -10px;
                    font-family: finglishFont;
                    font-size: $fontSize3;
                }
            }

            i {
                margin: auto;
            }
        }
    }
}

.header_dark {
    background-color: $mainDarkBox;
    box-shadow: $darkBoxShadow;

    .search {
        border: none;

        button {
            background-color: $inputDarkBack;

            &:hover {
                background-color: lighten($inputDarkBack, 10%);

                i {
                    color: $mainDarkText;
                }
            }

            i {

                color: $inputDarkText;
            }
        }

        input {
            background-color: $inputDarkBack;
            color: $mainDarkText;

            &::placeholder {
                color: $inputDarkText;
            }
        }
    }

    .account {
        .profile {
            button {

                h1,
                i {
                    color: $mainDarkText
                }
            }

            .userInfo {
                background: linear-gradient(135deg, darken(aqua, 50%), lighten($tableHeaderBack, 10%));

                .choises {
                    background-color: $mainDarkBox;

                    .link {
                        background-color: $mainDarkBox;
                        border-top: 1px solid $mainDarkBack;
                        border-bottom: 1px solid $mainDarkBack;

                        h1,
                        i {
                            color: $inputDarkText;
                        }

                        &:hover {
                            background-color: $inputDarkBack;
                        }
                    }
                }
            }
        }

        .massages {
            i {
                color: $mainDarkText;
            }
        }
    }
}

@media only screen and (max-width: $small) {
    .header {
        .search {
            width: 200px;
            margin-left: 20px;
        }
    }
}