@import "./GlobalStyles.scss";

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $primaryColor1;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor1;
}

::-webkit-scrollbar-thumb:active {
  background: $primaryColor3;
}

.main {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}