@import "./GlobalStyles.scss";
@import "./HeaderStyle/Header.module.scss";
@import "./HeaderStyle/HiddenMenu.module.scss";

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $thumbBackColor;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $thumbBackColor;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: $hoverColor;
}

.disable {
  pointer-events: none;
}

.body {
  display: flex;
  background-image: url("./Assets/Images/simple.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  .innerBody {
    width: 1600px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin: auto;
    display: flex;
    flex-direction: column;

    .main {
      width: 1350px;
      position: relative;
      margin: 10px auto;
      margin-top: -10px;
      padding: 80px auto;
      vertical-align: middle;
      display: flex;
      flex-direction: column;

      .newsLogo {
        width: 400px;
        position: absolute;
        top: 2400px;
        right: -100px;
        z-index: 0;
      }

      .mapLogo {
        width: 400px;
        position: absolute;
        top: 3100px;
        left: 20px;
        z-index: 0;
      }
    }
  }
}

@media only screen and (max-width: $big) {
  .body {
    .innerBody {
      .main {
        width: 1000px;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .body {
    .innerBody {
      .main {
        width: 700px;
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .body {
    .innerBody {
      .main {
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .body {
    .innerBody {
      .main {
        width: 280px;
      }
    }
  }
}
