/*Box Shadows*/
$darkBoxShadow:0 5px 10px rgb(12, 12, 12);
$brightBoxShadow1:0px 3px 8px rgba(0, 0, 0, 0.24);
$brightBoxShadow2:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
/*General Colors*/
$failedResColor:rgb(255, 43, 43);
$okResColor:rgb(34, 131, 34);
$totalResColor:rgb(228, 148, 0);
$totalReqColor:rgb(126, 33, 126);
$totalSoftColor:rgb(41, 41, 250);
$totalTransactionColor:rgb(158, 38, 38);
/*Bright Theme Colors*/
$mainBrightBox:white;
$mainBrightBack:whitesmoke;
$inputBrightBack:whitesmoke;
$mainBrightText:rgb(99, 99, 99);
$inputBrightText:rgb(54, 54, 54);
$bottonsBrightBack:aqua;
$tableHeaderBack:rgb(0, 69, 136);
$mainBrightRed:rgb(230, 0, 0);
/*Dark Theme Colors*/
$mainDarkBox:#232931;
$mainDarkBack:rgb(22, 22, 22);
$inputDarkBack:#393E46;
$mainDarkText:#EEEEEE;
$inputDarkText:#b9b9b9;
$bottonsDarkBack:#4ECCA3;
$tableDarkHeaderBack:#0e1013;
$mainDarkRed:rgb(255, 31, 31);
/*Font Sizes*/
$fontSize1:10px;
$fontSize2:15px;
$fontSize3:20px;
$fontSize4:25px;
$fontSize5:30px;
$fontSize6:35px;
$fontSize7:40px;
$fontSize8:45px;
$fontSize9:50px;
/*Media Queries*/
$large:1300px;
$medium_large:1200px;
$medium:1100px;
$small:900px;
$super_small:600px;

@mixin main_article {

  .bus,
  .softwares,
  .setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 250px;
    background-color: $mainBrightBack;
    min-height: 100vh;

    main {
      display: flex;
      justify-content: flex-end;
      margin-top: -20px;

      .settings {
        display: flex;
        padding: 30px;
        border-radius: 10px;
        box-shadow: $brightBoxShadow1;
        width: 95%;
        margin: 30px auto;
        background-color: $mainBrightBox;

        span {
          display: flex;
          width: 100%;
          justify-content: flex-end;

          label {
            font-family: myFont;
            font-size: $fontSize2;
            text-align: right;
            color: $inputBrightText;
            margin: auto;
            margin-right: 0;
            margin-left: 10px;
            font-weight: 100;
          }
        }
      }
    }
  }

  .setting {
    main {
      flex-direction: column;
    }
  }

  .bus_dark,
  .softwares_dark,
  .setting_dark {
    background-color: $mainDarkBack;

    main {
      .settings {
        background-color: $mainDarkBox;
        box-shadow: $darkBoxShadow;

        span {

          label {
            color: $inputDarkText;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $small) {

    .bus,
    .softwares,
    .setting {
      padding-right: 70px;
    }
  }
}

@mixin chartTitle {
  font-family: myFont;
  font-size: $fontSize2;
  color: $mainBrightText;
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}

@mixin busCarts_softwaresCharts {

  .busCharts,
  .softwaresCharts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    width: 100%;
    padding: 0 20px;
  }

  @media only screen and (max-width: $medium) {

    .busCharts,
    .softwaresCharts {
      padding: 0 5px;
      margin-left: 0px;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: myFont;

  &:hover {
    cursor: pointer;
  }
}

@font-face {
  font-family: myFont;
  src: url("./Assets/Fonts/Yekan.ttf");
}

@font-face {
  font-family: specialFont;
  src: url("./Assets/Fonts/homa.ttf");
}

@font-face {
  font-family: paragraphFont;
  src: url("./Assets/Fonts/IranianSans.ttf");
}