$btnColor:rgb(22, 22, 22);
$mainGreen:rgb(133, 187, 53);
$mainGray:rgb(230, 230, 230);
$mainPurple:rgb(161, 0, 175);
$mainOrange:#ff960d;
$active:rgb(49, 49, 49);
$notActive:rgb(85, 85, 85);
$inputPlaceholder:rgb(236, 236, 236);
$link:rgb(173, 173, 173);
$title:gray;
$header:rgb(29, 29, 29);
$paragraph:rgb(94, 94, 94);

$facebook:blue;
$twitter:rgb(0, 174, 255);
$linkedin:rgb(0, 143, 209);
$pinterest:rgb(209, 0, 10);
$instagram1:rgb(251, 255, 0);
$instagram2:rgb(250, 3, 65);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: myFont;
  src: url("./Fonts/BMitra.ttf");
}

@font-face {
  font-family: specialFont;
  src: url("./Fonts/BNazanin.ttf");
}

@font-face {
  font-family: uniqueFont;
  src: url("./Fonts/BFantezy.ttf");
}