.footer {
  width: 100%;
  height: 450px;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  bottom: 0;
}

.footer .title {
  float: right;
  text-align: right;
  margin: 25px 60px;
  padding-bottom: 30px;
  font-family: "iran";
  font-size: 20px;
  font-weight: 100;
  color: rgb(105, 105, 105);
  border-bottom: 1px gray solid;
  width: 90%;
}

.footer .rightSide,
.footer .leftSide {
  height: 100%;
  position: relative;
  background-color: whitesmoke;
}

.footer .rightSide {
  width: 60%;
  float: right;
}

.footer .rightSide .subjects {
  width: 600px;
  font-family: "iran";
  font-size: 14px;
  float: right;
  margin-right: 150px;
  text-align: right;
  color: rgb(97, 97, 97);
  font-weight: 100;
  line-height: 50px;
}

.footer .subjects thead {
  margin-bottom: 125px;
}

.footer .leftSide {
  width: 40%;
  float: left;
}

.footer .leftSide .notificationForm,
.footer .leftSide .notificationLabel,
.footer .leftSide .socialMediasLabel,
.footer .leftSide .bazarLabel {
  text-align: right;
  font-size: 17px;
  font-family: "iran";
  color: rgb(121, 121, 121);
  width: 100%;
  float: right;
  position: relative;
  margin: 15px 0;
}

.footer .leftSide .notificationForm {
  margin-bottom: 20px;
}

.footer .leftSide .notificationForm button {
  width: 100px;
  height: 50px;
  font-family: "iran";
  background-color: rgb(216, 152, 33);
  color: white;
  float: right;
  border: none;
  font-size: 16px;
  padding: 5px 2px 7px 2px;
  border-radius: 0 5px 5px 0;
}

.footer .leftSide .notificationForm input {
  width: 50%;
  height: 34px;
  font-family: "iran";
  color: rgb(32, 32, 32);
  float: right;
  border: 2px solid rgb(136, 136, 136);
  font-size: 16px;
  padding: 5px 10px 7px 2px;
  border-radius: 5px 0 0 5px;
  text-align: right;
}

.footer .socialMedias {
  float: right;
}

.footer .socialMedias img {
  width: 20px;
  margin: 0 10px;
}

.footer .bazar {
  float: right;
  font-family: "iran";
  font-size: 16px;
  color: rgb(87, 87, 87);
  border: 2px solid rgb(136, 136, 136);
  border-radius: 5px;
  display: flex;
  text-align: center;
  padding: 0px 20px;
  background-color: white;
}

.footer .bazar img {
  width: 80px;
  margin-top: 8px;
}

.footer .bazar p {
  margin-left: 10px;
}

.footer .copyRight {
  text-align: center;
  font-family: "iran";
  font-size: 17px;
  font-weight: 100;
  color: rgb(105, 105, 105);
  border-top: 1px gray solid;
  position: absolute;
  width: 100%;
  top: 500px;
}


@media only screen and (max-width: 1300px){
  .footer .rightSide .subjects {
    width: 400px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1005px){
  .footer {
    height: 600px;
  }

  .footer .rightSide,
  .footer .leftSide {
    width: 100%;
  }

  .footer .rightSide .subjects {
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }

  .footer .leftSide {
    width: 100%;
    margin-top: -250px;

    box-sizing: border-box;
    padding-right: 20px;
  }

  .footer .copyRight {
    top: 1000px;
  }
}

@media only screen and (max-width: 705px){
  .footer {
    margin-top: 50px;
  }

  .footer .title {
    text-align: center;
    margin: 25px auto;
    padding-bottom: 30px;
    font-family: "iran";
    font-size: 20px;
    font-weight: 100;
    color: rgb(105, 105, 105);
    border-bottom: 1px gray solid;
    width: 100%;
  }
}