.header {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-image: url(../../Images/header_background_image.png);
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: -50px;

    .account {
        display: flex;
        width: auto;
        justify-content: end;

        h1 {
            font-family: specialFont;
            font-size: 18px;
            color: whitesmoke;
        }

        i {
            font-size: 25px;
            margin: auto 10% auto 10px;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        margin: auto;
        width: auto;
        display: flex;
        flex-direction: column;

        a {
            img {
                width: 50px;
                height: 50px;
                margin: auto;
            }

            h1 {
                font-family: myFont;
                margin-top: 0px;
                color: whitesmoke;
                font-size: 30px;
                text-align: center;
                margin: auto;
            }
        }
    }
}