@import '../../GlobalStyles.scss';

.menuContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  margin-top: -10px;
  top: 0;
  bottom: 0;

  .menu {
    display: none;
  }
}

@media only screen and (max-width: $big) {
  .menuContainer {
    .menu {
      width: 400px;
      min-height: 100vh;
      position: absolute;
      right: 0;
      margin: 0 auto;
      margin-top: -10px;
      display: flex;
      flex-direction: column;
      background-color: $superLightColor;
      z-index: 10;
      border-bottom: 1px solid $linkColor;
      animation: shacking 0.5s forwards;

      @keyframes shacking {
        0% {
          transform: translate3d(300px, 0px, 0px);
        }

        80% {
          transform: translate3d(0px, 0px, 0px);
        }
      }


      .rightSide {
        font-family: $font;
        color: $linkColor;
        position: relative;
        z-index: 1;

        li {
          margin: 0px 20px 0px auto;
          width: fit-content;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          padding: 0px 8px;
          font-weight: 500;
          text-align: right;
          line-height: 50px;
          user-select: none;

          div {
            display: none;
          }

          span {
            display: flex;
            width: fit-content;
            margin: auto;
            margin-right: 0;
            justify-content: center;
            align-items: center;
          }

          &:hover {
            color: $secondaryColor1;
            transition: all 0.2s;
            cursor: pointer;
          }

          a {
            color: $linkColor;

            &:hover {
              color: $secondaryColor1;
              transition: all 0.2s;
            }
          }

          ul {
            li {
              a {
                color: $primaryColor5;

                &:hover {
                  color: $secondaryColor1;
                  transition: all 0.2s;
                }
              }
            }
          }
        }

        li.account,
        li.basket {
          display: none;
        }

        li.search {
          width: 90%;
          display: flex;
          flex-direction: row;
          margin: auto;

          input {
            @include inp;
          }

          button {
            @include btn(transparent,
              $superDarkColor,
              darken($pageBackColor, 5%),
              $superDarkColor);
            width: 40px;
            border: none;
            margin: auto;
            padding: 8px;
            display: flex;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .menu {
    .rightSide {

      li.products,
      li.productType {
        &:hover {
          div {
            @include dropdownDiv(450px, 45px, 200px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .menu {
    .rightSide {
      li {
        cursor: pointer;

        label {
          cursor: pointer;
        }
      }

      li.products,
      li.productType {
        &:hover {
          div {
            @include dropdownDiv(250px, 45px, 200px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $verySmall) {
  .menu {
    .rightSide {
      float: none;

      li.account {
        display: block !important;

        &:hover {
          cursor: pointer;
          color: $secondaryColor1;
        }

        button {
          width: 100%;
          height: 40px;
          font-family: $font;
          font-size: 18px;
          margin: 5px auto;
          border-radius: 2px;
        }

        button.login {
          @include btn($superDarkColor,
            $superLightColor,
            lighten($superDarkColor, 10%),
            $superLightColor);
        }

        button.register {
          @include btn($superLightColor,
            $superDarkColor,
            darken($superLightColor, 10%),
            $superDarkColor);
        }
      }

      li.basket {
        display: block !important;
        margin-top: 10px;

        ul {
          li {
            font-size: 15px;

            &:hover {
              .alert {
                color: $hoverColor;
              }
            }
          }

          .alert {
            background-color: lighten($hoverColor, 30%);
            color: $hoverColor;
            padding: 5px 20px;
            border-radius: 10px;
          }
        }

        &:hover {
          color: $secondaryColor1;

          ul {
            display: block;
          }
        }
      }

      li {
        font-size: 15px;
      }

      li.search {
        width: auto;
        margin: 10px auto;

        input {
          &::placeholder {
            font-size: 10px;
          }
        }
      }
    }
  }
}