@import '../../index.module.scss';

.infoBox {
    width: 224px;
    margin: 10px 1%;
    box-shadow: $brightBoxShadow1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .icon {
        position: absolute;
        margin-left: -15px;
        margin-top: -15px;

        .i1 {
            font-size: 100px;
        }

        .i2 {
            font-size: 50px;
        }
    }

    label.title,
    span {
        margin: auto;
        text-align: right;
        width: 100%;
        color: white;
    }

    label.title {
        font-family: specialFont;
        font-size: 15px;
        margin-top: 20px;
    }

    span {
        font-size: 40px;
        margin-top: 0px;
        font-weight: bold;
    }
}

.failedRes {
    background: linear-gradient(135deg, rgb(255, 43, 43), darken(rgb(255, 43, 43), 10%));
}

.okRes {
    background: linear-gradient(135deg, rgb(34, 131, 34), darken(rgb(34, 131, 34), 10%));
}

.totalRes {
    background: linear-gradient(135deg, rgb(228, 148, 0), darken(rgb(228, 148, 0), 10%));
}

.totalReq {
    background: linear-gradient(135deg, rgb(126, 33, 126), darken(rgb(126, 33, 126), 10%));
}

.totalSoft {
    background: linear-gradient(135deg, rgb(41, 41, 250), darken(rgb(41, 41, 250), 10%));
}

.totalTransaction {
    background: linear-gradient(135deg, rgb(158, 38, 38), darken(rgb(158, 38, 38), 10%));
}

.infoBox_dark {
    background: linear-gradient(135deg, rgb(27, 27, 27), darken(rgb(27, 27, 27), 10%));
}